.album {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 10px;
  background-color: #00d0cd;
  max-width: 800px;
  overflow: hidden;
}

.album-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.album-header {
  width: 100%;
  text-align: left;
}

.album-images {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  gap: 5px;
  overflow-y: auto;
}

.album-image-wrapper {
  position: relative;
}

.album-image-wrapper:hover button {
  display: block;
}

.album-image {
  max-width: 65px;
  height: auto;
  display: block;
}

.album-labels {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  flex: 1;
}
.album-label {
  padding-bottom: 8px;
}

button {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px 5px;
}

button:hover {
  display: block;
  background-color: #c0392b;
}

@media (max-width: 480px) {
  .album {
    flex-direction: column;
    width: 100%;
  }

  .album-images,
  .album-labels {
    width: 100%;
    padding: 0;
  }

  .album-image {
    max-width: 100px;
  }

  button {
    top: 2px;
    right: 2px;
  }
}

@media (max-width: 768px) {
  .album {
    width: 50%;
  }
}
