.App-header {
  width: 100%;
}

.App-header h1 {
  margin: 0;
  font-family: Arial Black, Helvetica, sans-serif;
  font-size: 24px;
}

.App-header p {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0;
}
