.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
}

@media (max-width: 480px) {
  .image-gallery {
    grid-template-columns: 1fr; /* Single column */
  }
}

@media (max-width: 768px) {
  .image-gallery {
    width: 50%; /* Take half of the width since it should be next to the Album */
    grid-template-columns: 1fr; /* Display images in one column */
  }
}
