.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin: 20px auto;
  width: 90%;
  max-width: 1400px;
  font-size: 12px;
}

.content-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  gap: 40px;
}

.ImageGallery,
.Album {
  flex: 1;
  margin: 0 10px;
}
